/* Общие стили */

html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family:'Manrope',sans-serif;
	font-size: 18px;
	font-weight: 400;
    line-height: 32px;
    color: #000000;
}

a{
    text-decoration: none;
    color: #cef4ff;
}

img{
	max-width: 100%;
}

input{
    color: #000000;
}

body,
h1,
h2,
h3,
h4,
p,
li{
    margin: 0;
}

.list-reset{
	margin: 0;
	padding: 0;
	list-style: none;
}

.container,.researches-position,.section__conditions{
    position: relative;
    margin: 0 auto;
    width: 1232px;
    padding: 0;
}

.small-container{
    width: 1056px;
    margin: 0 auto;
    padding: 0;
}

.main-caption{
    text-align: center;
		font-size: 40px;
		line-height: 56px;
		font-weight: 700;
		color: #000000;
		margin-bottom: 54px;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
		background: none;
		width: auto;
		height: auto;
}

.vpc,.nowrap{
    white-space: nowrap;
}

/* .btn:hover{
    background-color: #18bbf0;
    transition: background-color .3s ease-in-out;
} */

.hidden-caption{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border:  0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.percent {
    font-weight: 400;
}

.small__caption{
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 48px;
}

.img-radius-left{
    border-radius: 0 0 0 64px;
}

.comportamento__img-position{
    width: 100%;
}

.flex{
	display: flex;
}

.alight-center{
	align-items: center;
}

.flex-wrap{
	flex-wrap: wrap;
}


/* map */

.adres-map{
    margin-bottom: 15px;
}

.map-list{
    margin-bottom: 23px;
    font-size: 14px;
}


/* Стили шапки */

.header-section{
    padding-top: 40px;
    background: url('../img/header_bg.jpg') 50% 100% no-repeat;
    background-position: top;
    padding-bottom: 194px;
}

.header-phone-position a{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #8393ab;
}

.header-section-fon{
	width: 68%;
	height: 768px;
	background: #05317f;
	position: absolute;
	top: 0;
	opacity: 0.85;
}

.header__modal-btn{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: underline;
	color: #ffffff;
	width: 122px;
	height: 16px;
	background-color: unset;
	outline: none;
	border: none;
}

.header-container{
    display: flex;
	align-items: center;
}

.logo{
    margin-right: 206px;
		height: 42px;
}


.btn__country{
    margin-right: 85px;
}

.second-logo{
    display: none;
}

.header-section-fixed{
    position: relative;
    /* position: fixed; */
    left: 0;
    right: 0;
    z-index: 6;
}

.country{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #003594;
    padding-left: 23px;
    padding-right: 0;
    width: 150px;
    background-color: unset;
    background-image: url('../img/ico_city.svg');
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: 85px;
    position: relative;
    top: -5px;
}

.menu-list-item a{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #8393ab;
}

.fixed__btn{
	width: 239px;
	height: 48px;
	border-radius: 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	display: none;
	background-color: #00a9e0;
}

.fixed-active{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
		padding-top: 16px;
		padding-bottom: 16px;
    z-index: 5;
    background-color: #003594;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25)
}


.fixed-active .fixed__btn{
	display: block;
}

.fixed-active .header__modal-btn{
	margin-right: 87px;
}

.fixed-active .logo{
	width: 185px;
	height: 32px;
	margin-right: auto;
}

.fixed-active .second-logo{
    max-width: 144px;
    margin-right: 203px;
}

.fixed-active .cart-number{
    right: 1px;
    top: -9px;
}

.fixed-active .second-logo{
    display: block;
    margin-bottom: 0;
}

.fixed-active .header-phone-position{
    top: -4px;
    margin-right: 62px;
}

.fixed-active .cart-btn{
    top: 0;
}

.fixed-active .nav{
    margin-top: -10px;
}

.fixed-active a{
    color: #777777;
}

.fixed-active .menu-list-item a:hover{
    color: #777;
    border-bottom: 1px solid #777;
}

.fixed-active .cart-btn{
    background: url('../img/ico_cart_gray.svg') 50% no-repeat;
}

.fixed-close{
    display: none;
}

.menu-list{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-top: 5px;
}

.menu-list-item:not(:last-child){
    margin-right: 40px;
}

.menu-list-item{
    transition: color .3s ease-in-out;
}

.menu-list-item a:hover{
    color: #003594;
}

/* .phone-link a:hover{
    color: #000000;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
} */

/* .list-position-phone{
    margin-right: 223px;
} */

.promo{
    white-space: nowrap;
}

.researches-link:hover{
    text-decoration: underline;
}

.header-phone-position{
    margin-left: auto;
    margin-right: 0px;
    position: relative;
    top: 5px;
}

.header-caption{
	font-size: 56px;
	line-height: 64px;
	font-weight: 700;
	color: #ffffff;
	width: 572px;
	padding-top: 116px;
	margin-bottom: 62px;
}

.header-caption_decoration{
	font-size: 45px;
	color: #00b388;
}

.header-subtitle{
	font-size: 28px;
	line-height: 40px;
	font-weight: 400;
	color: #ffffff;
	width: 572px;
	margin-bottom: 74px;
}

.header_btn-form{
	width: 352px;
	height: 48px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 101px;
	padding-right: 101px;
	background-color: #00a9e0;
	border-radius: 24px;
	color: #ffffff;
}

/*.btn__record:hover{*/
/*    background-color: #18bbf0;*/
/*}*/

/* .cart-btn{
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('../img/ico_cart_blue.svg') 50% no-repeat;
    position: relative;
    top: 9px;
    left: 0px;
} */

.btn-position-header{
    position: relative;
}
/*
.cart-number{
    min-width: 20px;
    max-height: 20px;
    background-color: #f8485e;
    border-radius: 100%;
    position: absolute;

    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    z-index: 6;
    right: -1px;
    top: 1px;
    display: none;
}


/* Стили основного контента */

.section_covid{
	padding-top: 120px;
	padding-bottom: 114px;
}

.covid_text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
	margin-bottom: 72px;
}

.covid_block-position{
	margin-bottom: 115px;
}

.covid_card{
	width: 345px;
	text-align: center;
}

.covid_card:not(:last-child){
	margin-right: auto;
}

.covid__info_left-block{
	width: 430px;
	margin-right: 102px;
}

.covid__info_left-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
}

.covid__info_left-text:not(:last-child){
	margin-bottom: 24px;
}

.covid__info_left-text-decoration{
	font-size: 24px;
	font-weight: 600;
	color: #003594;
}

.covid__info_left-img{
	margin-top: 110px;
	width: 352px;
	height: 98px;
}

.covid__info-caption{
	font-size: 20px;
	line-height: 32px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 43px;
}

.covid__info_card{
	width: 530px;
}

.covid__info_card:not(:last-child){
	margin-bottom: 41px;
}

.covid__info_right-card-img{
	width: 50px;
	height: 63px;
	margin-right: 48px;
}

.covid__info_right-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
}

.covid__info_right-block-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
	margin-top: 86px;
	width: 720px;
}



.section_advantages{
	background-color: #f4f6f9;
	padding-top: 122px;
	padding-bottom: 129px;
}

.advantages_card-position{
	flex-wrap: wrap;
}

.advantages_card{
	width: 545px;
	margin-right: auto;
	margin-bottom: 75px;
}

.advantages_card-last{
	margin-bottom: 0;
}

.advantages__card_img{
	width: 102px;
	height: 102px;
	margin-right: 42px;
}

.advantages__card_text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
}

.advantages__card_text-decoration{
	font-weight: 700;
}


.section_experience{
	padding-top: 120px;
	padding-bottom: 120px;
}

.experience__card:not(:last-child){
	margin-bottom: 80px;
}

.experience__card-img{
	width: 529px;
	height: 504px;
	margin-right: 87px;
}

.experience__card-img_border-right{
	border-radius: 0px 80px 80px 0px;
}

.experience__card-img_border-left{
	border-radius: 80px 0px 00px 80px;
	margin-right: 0;
	margin-left: auto;
}

.experience__card-caption{
	font-size: 26px;
	line-height: 40px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 41px;
	width: 550px;
}

.experience__card-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
	margin-bottom: 50px;
	width: 550px;
}

.experience__card-block{
	width: 620px;
}

.experience__block{
	width: auto;
	margin-right: 54px;
	margin-bottom: 35px;
}

.experience__block-last{
	margin-bottom: 0px;
}

.experience__block-caption{
	font-size: 32px;
	font-weight: 700;
	color: #00a9e0;
	margin-bottom: 13px;
}

.experience__arrow{
	font-size: 26px;
	font-weight: 400;
}

.experience__block-text{
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	color: #003594;
}

.experience__card-block-last-card .experience__block {
	width: 207px;
	margin-right: auto;
}

.section_pay{
	padding-top: 121px;
	padding-bottom: 114px;
	background-color: #f4f6f9;
}


.pay_caption{
	margin-bottom: 72px;
}

.pay_card-position{
	justify-content: center;
}

.pay__card{
	text-align: center;
	width: 430px;
}

.pay__card:not(:last-child){
	margin-right: 211px;
}

.pay__card-img{
	width: 102px;
	height: 102px;
	margin-bottom: 33px;
}

.pay__card-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
}

.pay__card_text-decoration{
	font-weight: 700;
}

.section_callback{
	padding-top: 120px;
	padding-bottom: 120px;
}

.callback__form-position{
	width: 100%;
	border: 1px solid rgba(47,101,198,0.49);
	padding-left: 55px;
	padding-top: 72px;
	padding-bottom: 72px;
	padding-right: 55px;
	margin-bottom: 120px;
}

.callback__form_text-block{
	width: 300px;
	margin-right: auto;
	padding-top: 22px;
}

.form__caption{
	font-size: 34px;
	line-height: 40px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 34px;
}

.form__text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
	width: 220px;
}

.form__tel{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #003594;
}

.callback__form-block{
	width: 680px;
	flex-wrap: wrap;
	justify-content: center;
}

.form__input{
	width: 320px;
	height: 48px;
	border: 1px solid #bbbbbb;
	margin-right: 40px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 34px;
	outline: none;
}

.form__input-last{
	margin-bottom: 0;
}

.form-floating{
	margin-right: 34px;
	margin-bottom: 24px;
}

.form-floating:nth-child(2n){
	margin-right: 0;
}

.form-floating:nth-last-of-type(-n+2){
	margin-bottom: 0;
}

.form__btn{
	width: 320px;
	height: 48px;
	border-radius: 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	background-color: #00a9e0;
	margin-top: 40px;
}

.form-floating>label{
	font-size: 16px;
	line-height: 0px;
	font-weight: 400;
	top: 8px;
	color: #888888;
}

.form-floating>.form-control, .form-floating>.form-select{
	width: 320px;
	height: 48px;
	border-radius: 0;
	border-color: #bbbbbb;
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown){
	outline: none;
}

.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #bbbbbb;
	outline: 0;
	box-shadow:none;
}


.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
	opacity: 1;
	transform: scale(.85) translateY(-.5rem) translateX(.15rem);
	position: absolute;
	top: -9px;
	background-color: #fff;
	height: 10px;
}

.data__input{
	width: 24px;
	height: 24px;
	position: absolute;
	right: 12px;
	top: 12px;
}

.btn:hover{
	color: #ffffff;
	background-color: #18bbf0;
}

.btn{
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

.banner__position{
	padding-left: 87px;
	padding-top: 67px;
	padding-bottom: 72px;
	background-color: #003594;
	background-image: url("../img/banner_desktop.png");
	background-position: top right;
	background-repeat: no-repeat;
	border-radius: 0px 56px 0px 0px;
	height: 368px;
}

.banner__subtittle{
	font-size: 22px;
	line-height: 22px;
	font-weight: 400;
	text-transform: uppercase;
	color: #f8485e;
	margin-bottom: 25px;
}

.banner__caption{
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 47px;
	width: 480px;
}

.banner__btn{
	width: 320px;
	height: 48px;
	border-radius: 24px;
	background-color: #00a9e0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
}




/* Стили footer */

.footer-position{
    align-items: center;
}

.footer{
    margin-top: -55px;
    padding-top: 32px;
    padding-bottom: 68px;
    background-color: #f2f6ff;
}

.footer-position{
    display: flex;
}

.footer-text{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #97a6c3;
    margin-right: 466px;
}

.footer-social-list{
    display: flex;
    align-items: center;
}

.footer-social-list-item:not(:last-child){
    margin-right: 24px;
}

.social-1{
    width: 40px;
    height: 40px;
    display: block;
    background: url('../img/soc_facebook.svg') no-repeat;
}

.social-2{
    width: 40px;
    height: 40px;
    display: block;
    background: url('../img/soc_vk.svg') no-repeat;
}

.social-3{
    width: 40px;
    height: 40px;
    display: block;
    background: url('../img/soc_ok.svg') no-repeat;
}

.social-4{
    width: 40px;
    height: 40px;
    display: block;
    background: url('../img/soc_instagram.svg') no-repeat;
}

.social-5{
    width: 40px;
    height: 40px;
    display: block;
    background: url('../img/soc_youtube.svg') no-repeat;
}

.recomend-text{
    font-size: 20px;
    text-transform: uppercase;
    color: #dadada;
    margin: 0;
}

.footer-recomend{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.chesel-row{
    background: rgba(248, 248, 248, 0.96);
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-size: 1.54vw;
    z-index: 3;
    bottom: 0;
    color: #d2d2d2;
    width: 100%;
    line-height: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    transform: scaleY(1.5);
    transform-origin: bottom;
}

.footer{
    margin-top: 0px;
}

.text__caption{
    font-weight: 700;
}

.comportamento__list,.comportamento__list-2,.indagine__list{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
}

/* Адаптив */
@media (max-width: 1279px){
    .container,.conditions__container,.sale-container,.researches-position,.small__container,.small-container,.section__conditions{
        width: 968px;
    }

    img{
        max-width: 245px;
    }

    .header-section{
        padding-top: 32px;
    }

    .header-caption{
        font-size: 64px;
        line-height: 72px;
        font-weight: 700;
        color: #003594;
    }

    .menu-list-item{
        display: none;
    }

    .logo{
        margin-right: 65px;
        /* margin-bottom: 128px; */
    }

    .menu-list-item:not(:last-child){
        margin-right: 33px;
    }

    .menu-list-item{
        font-size: 15px;
        line-height: 1.2;
        color: #ffffff;
    }

    .header-phone-position{
        font-size: 16px;
        line-height: 1.8;
        font-weight: 700;
        color: #ffffff;
        margin-right: 0px;
    }

    .header-subtitle{
        font-size: 32px;
        line-height: 44px;
        font-weight: 400;
        color: #000000;
    }

    .header-section{
        padding-bottom: 195px;
    }


    .footer-text{
        font-size: 14px;
        line-height: 24px;
        margin-right: 195px;
    }

    .footer-position{
        align-items: center;
    }

    .fixed-active .header-phone-position{
        top: 0px;
    }

    .footer{
        margin-top: 90px;
    }
}

@media (max-width: 1023px){
    .container,.conditions__container,.sale-container,.researches-position,.small__container,.small-container,.section__conditions{
        width: 736px;
    }

    .header-section{
        padding-bottom: 171px;
        background-size: auto;
        background-color: #e6e9f0;
    }

    .logo{
        margin-right: 64px;
        /* margin-bottom: 122px; */
    }

    .fixed-active .second-logo{
        margin-right: auto;
    }

    .header-caption{
        font-size: 54px;
        line-height: 64px;
        font-weight: 700;
        color: #003594;
        margin-top: 169px;
    }

    .main-caption{
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
        color: #000000;
    }

    .menu-list-item{
        display: none;
    }

    .header-subtitle{
        width: 396px;
        font-size: 26px;
        line-height: 36px;
        font-weight: 400;
        color: #000000;
        margin-bottom: 72px;
    }

    .header-subtitle_decoration{
        font-size: 34px;
        line-height: 32px;
    }

    .footer-position{
        display: block;
        text-align: center;
    }

    .footer-text{
        margin: 0;
        position: relative;
        top: 60px;
    }

    .footer-social-list {
        position: relative;
        bottom: 30px;
        left: 220px;
        left: 50%;
        transform: translateX(-50%);
        width: 294px;
        margin: 0;
    }

    .recomend-text{
        font-size: 14px;
    }

    .header-section{
        background-size: cover;
    }

    .header-phone-position {
        top: 4px;
    }


    .container,.text-container,.sale-container,.researches-position,.small__container,.small-container,.section__conditions{
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }


}

@media (max-width: 767px){
    .container,.conditions__container,.sale-container,.researches-position,.small__container,.small-container,.section__conditions{
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }

    .section-adress{
        padding-top: 54px;
    }

    .map{
        margin-bottom: 98px;
    }

    img{
        max-width: 144px;
    }

    .header-section{
        padding-bottom: 138px;
    }

    .header-caption{
        font-size: 34px;
        line-height: 40px;
        font-weight: 700;
        color: #003594;
        margin-bottom: 5px;
        width: 100%;
        margin-top: 59px;
    }

    .header-promocode {
        font-size: 16px;
    }

    .header-subtitle_decoration{
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }

    .header-subtitle{
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        margin: 0 auto;
        margin-bottom: 35px;
        width: 274px;
        text-align: center;
    }

    .header-phone-position{
        font-size: 11px;
        line-height: 1.2;
        margin-right: 0px;
    }

    .menu-list-item{
        display: none;
    }

    .phone-link a{
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #8393ab;
    }

    .header-caption-position{
        text-align: center;
        margin: 0 auto;
    }

    .main-caption{
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .recomended__text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 37px;
    }


    .header-section{
        background: url('../img/header_bg_mob.jpg') 50% 100% no-repeat;
        background-color: #e6e9f0;
        padding-bottom: 98%;
        background-size: 100% auto;
        padding-top: 16px;
    }


    .btn{
        font-size: 16px;
    }

    .footer{
        padding-top: 46px;
        padding-bottom: 90px;
    }

    .footer-text{
        width: 290px;
        top: 79px;
        margin: 0 auto;
    }

    .footer-social-list-item:not(:last-child){
        margin-right: 16px;
    }

    .footer-social-list {
        left: 50%;
        top: -54px;
        width: 264px;
        transform: translateX(-50%);
    }

    .recomend-text{
        font-size: 1.54vw;
    }

    .fixed-active{
        padding-top: 16px;
        padding-bottom: 5px;
    }

    .fixed-active .header-phone-position{
        top: 6px;
    }

    .header-phone-position{
        top: 6px;
    }

    .map{
        height: 544px;
    }

    .footer{
        margin-top: -42px;
    }

}

