/* Общие стили */

html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

.btn-check:focus+.btn, .btn:focus {
	outline: 0;
	box-shadow: none;
}


body{
	margin: 0;
	padding: 0;
	font-family:'Manrope',sans-serif;
	font-size: 18px;
	font-weight: 400;
    line-height: 32px;
    color: #000000;
}

a{
    text-decoration: none;
    color: #cef4ff;
}

img{
	max-width: 100%;
}

input{
    color: #000000;
}

body,
h1,
h2,
h3,
h4,
p,
li{
    margin: 0;
}

.list-reset{
	margin: 0;
	padding: 0;
	list-style: none;
}

.container{
    position: relative;
    margin: 0 auto;
    width: 1232px;
    padding: 0;
}

@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1232px;
	}
}

/*.small-container{*/
/*    width: 1056px;*/
/*    margin: 0 auto;*/
/*    padding: 0;*/
/*}*/

.main-caption{
    text-align: center;
		font-size: 40px;
		line-height: 56px;
		font-weight: 700;
		color: #000000;
		margin-bottom: 54px;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
		background: none;
		width: auto;
		height: auto;
}

.vpc,.nowrap{
    white-space: nowrap;
}

/* .btn:hover{
    background-color: #18bbf0;
    transition: background-color .3s ease-in-out;
} */

.hidden-caption{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border:  0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.percent {
    font-weight: 400;
}

.small__caption{
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 48px;
}

.img-radius-left{
    border-radius: 0 0 0 64px;
}

.comportamento__img-position{
    width: 100%;
}

.flex{
	display: flex;
}

.alight-center{
	align-items: center;
}

.flex-wrap{
	flex-wrap: wrap;
}


/* map */

.adres-map{
    margin-bottom: 15px;
}

.map-list{
    margin-bottom: 23px;
    font-size: 14px;
}


/* Стили шапки */

.header-section{
    padding-top: 40px;
    background: url('../img/header_bg.jpg') 50% 100% no-repeat;
    background-position: top;
	background-size: cover;
    padding-bottom: 118px;
}

.header-phone-position a{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #8393ab;
}

.header-section-fon{
	width: 55%;
	height: 768px;
	background: #003594;
	position: absolute;
	top: 0;
	opacity: 0.85;
}

.header__modal-btn{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: underline;
	color: #ffffff;
	background-color: unset;
	outline: none;
	border: none;
	cursor: pointer;
}

.modal-content{
	border: none;
	outline: none;
	border-radius: 0;
}

.header-container{
    display: flex;
	align-items: center;
}

.logo{
    margin-right: 206px;
		height: 42px;
}

.logo_mob{
	display: none;
}


.btn__country{
    margin-right: 85px;
}

.tablet-img{
	display: none;
}

.mobile-banner{
	display: none;
}

.second-logo{
    display: none;
}

.header-section-fixed{
    position: relative;
    /* position: fixed; */
    left: 0;
    right: 0;
    z-index: 6;
}

.country{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #003594;
    padding-left: 23px;
    padding-right: 0;
    width: 150px;
    background-color: unset;
    background-image: url('../img/ico_city.svg');
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: 85px;
    position: relative;
    top: -5px;
}

.menu-list-item a{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #8393ab;
}

.fixed__btn{
	width: 239px;
	height: 48px;
	border-radius: 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	display: none;
	background-color: #00a9e0;
}

.fixed-active{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
		padding-top: 16px;
		padding-bottom: 16px;
    z-index: 5;
    background-color: #003594;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25)
}


.fixed-active .fixed__btn{
	display: block;
}

.fixed-active .header__modal-btn{
	margin-right: 87px;
}

.fon-active{
	top: -42px;
}

.fixed-active .logo{
	width: 185px;
	height: 32px;
	margin-right: auto;
}

.fixed-active .second-logo{
    max-width: 144px;
    margin-right: 203px;
}

.fixed-active .cart-number{
    right: 1px;
    top: -9px;
}

.fixed-active .second-logo{
    display: block;
    margin-bottom: 0;
}

.fixed-active .header-phone-position{
    top: -4px;
    margin-right: 62px;
}

.fixed-active .cart-btn{
    top: 0;
}

.fixed-active .nav{
    margin-top: -10px;
}

.fixed-active .menu-list-item a:hover{
    color: #777;
    border-bottom: 1px solid #777;
}

.fixed-close{
    display: none;
}

.menu-list{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-top: 5px;
}

.menu-list-item:not(:last-child){
    margin-right: 40px;
}

.menu-list-item{
    transition: color .3s ease-in-out;
}

.menu-list-item a:hover{
    color: #003594;
}

/* .phone-link a:hover{
    color: #000000;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
} */

/* .list-position-phone{
    margin-right: 223px;
} */

.promo{
    white-space: nowrap;
}

.researches-link:hover{
    text-decoration: underline;
}

.header-phone-position{
    margin-left: auto;
    margin-right: 0px;
    position: relative;
    top: 5px;
}

.header-caption{
	font-size: 56px;
	line-height: 64px;
	font-weight: 700;
	color: #ffffff;
	width: 720px;
	padding-top: 112px;
	margin-bottom: 58px;
}

.header-caption_decoration{
	font-size: 45px;
	color: #00b388;
}

.header-subtitle{
	font-size: 28px;
	line-height: 40px;
	font-weight: 400;
	color: #ffffff;
	width: 572px;
	margin-bottom: 74px;
}

.header_btn-form{
	width: 352px;
	height: 48px;
	line-height: 1;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 101px;
	padding-right: 101px;
	background-color: #00a9e0;
	border-radius: 24px;
	color: #ffffff;
}

.header__modal-btn:hover,.header__modal-btn:focus,.header__modal-btn:active{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: none;
	color: #ffffff;
	background-color: unset;
	outline: none;
	border: none;
}

/*.btn__record:hover{*/
/*    background-color: #18bbf0;*/
/*}*/

/* .cart-btn{
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('../img/ico_cart_blue.svg') 50% no-repeat;
    position: relative;
    top: 9px;
    left: 0px;
} */

.btn-position-header{
    position: relative;
}
/*
.cart-number{
    min-width: 20px;
    max-height: 20px;
    background-color: #f8485e;
    border-radius: 100%;
    position: absolute;

    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    z-index: 6;
    right: -1px;
    top: 1px;
    display: none;
}


/* Стили основного контента */

.section_covid{
	padding-top: 120px;
	padding-bottom: 114px;
}

.covid_text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
	margin-bottom: 72px;
}

.covid_block-position{
	margin-bottom: 115px;
}

.covid_card{
	width: 345px;
	text-align: center;
}

.covid_card:not(:last-child){
	margin-right: auto;
}

.covid__info_left-block{
	width: 430px;
	margin-right: 102px;
}

.covid__info_left-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
}

.covid__info_left-text:not(:last-child){
	margin-bottom: 24px;
}

.covid__info_left-text-decoration{
	font-size: 24px;
	font-weight: 600;
	color: #003594;
}

.covid__info_left-img{
	margin-top: 110px;
	width: 352px;
	height: 98px;
}

.covid__info-caption{
	font-size: 20px;
	line-height: 32px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 43px;
}

.covid__info_card{
	width: 530px;
}

.covid__info_card:not(:last-child){
	margin-bottom: 41px;
}

.covid__info_right-card-img{
	width: 50px;
	height: 63px;
	margin-right: 48px;
}

.covid__info_right-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
}

.covid__info_right-block-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
	margin-top: 86px;
	width: 720px;
}

.covid_card-img{
	margin-bottom: 35px;
}

.covid_card-text{
	font-weight: 600;
}


.section_advantages{
	background-color: #f4f6f9;
	padding-top: 122px;
	padding-bottom: 129px;
}

.advantages_card-position{
	flex-wrap: wrap;
}

.advantages_card{
	width: 545px;
	margin-right: auto;
	margin-bottom: 75px;
}

.advantages_card:nth-child(2n){
	margin-right: 0;
}

.advantages_card-last{
	margin-bottom: 0;
}

.advantages__card_img{
	width: 102px;
	height: 102px;
	margin-right: 42px;
}

.advantages__card_text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
}

.advantages__card_text-decoration{
	font-weight: 700;
}


.section_experience{
	padding-top: 120px;
	padding-bottom: 120px;
}

.experience__card:not(:last-child){
	margin-bottom: 80px;
}

.experience__block:last-of-type{
	margin-right: 0;
}

.experience__card-img{
	width: 529px;
	height: 504px;
	margin-right: 87px;
}

.experience__card-img_border-right{
	border-radius: 0px 80px 80px 0px;
}

.experience__card-img_border-left{
	border-radius: 80px 0px 00px 80px;
	margin-right: 0;
	margin-left: auto;
}

.experience__card-caption{
	font-size: 26px;
	line-height: 40px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 41px;
	width: 550px;
}

.experience__card-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
	margin-bottom: 50px;
	width: 550px;
}

.experience__card-block{
	width: 620px;
}

.experience__block{
	width: auto;
	margin-right: 54px;
	margin-bottom: 35px;
}

.experience__block-last{
	margin-bottom: 0px;
}

.experience__block-caption{
	font-size: 32px;
	font-weight: 700;
	color: #00a9e0;
	margin-bottom: 13px;
}

.experience__arrow{
	font-size: 26px;
	font-weight: 400;
}

.experience__block-text{
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	color: #003594;
}

.experience__card-block-last-card .experience__block {
	width: 207px;
	margin-right: auto;
}

.section_pay{
	padding-top: 121px;
	padding-bottom: 114px;
	background-color: #f4f6f9;
}


.pay_caption{
	margin-bottom: 72px;
}

.pay_card-position{
	justify-content: center;
}

.pay__card{
	text-align: center;
	width: 430px;
}

.pay__card:not(:last-child){
	margin-right: 211px;
}

.pay__card-img{
	width: 102px;
	height: 102px;
	margin-bottom: 33px;
}

.pay__card-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
}

.pay__card_text-decoration{
	font-weight: 700;
}

.section_callback{
	padding-top: 120px;
	padding-bottom: 120px;
}

.callback__form-position{
	width: 100%;
	border: 1px solid rgba(47,101,198,0.49);
	padding-left: 55px;
	padding-top: 72px;
	padding-bottom: 72px;
	padding-right: 55px;
	margin-bottom: 120px;
}

.callback__form_text-block{
	width: 300px;
	margin-right: auto;
	padding-top: 22px;
}

.form__caption{
	font-size: 34px;
	line-height: 40px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 34px;
}

.form__text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
	width: 220px;
}

.form__tel{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #003594;
}

.callback__form-block{
	width: 680px;
	flex-wrap: wrap;
	justify-content: center;
}

.form__input{
	width: 320px;
	height: 48px;
	border: 1px solid #bbbbbb;
	margin-right: 40px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 34px;
	outline: none;
}

.form__input-last{
	margin-bottom: 0;
}

.form-floating{
	margin-right: 34px;
	margin-bottom: 24px;
}

.form-floating:nth-child(2n){
	margin-right: 0;
}

.form-floating:nth-last-of-type(-n+2){
	margin-bottom: 0;
}

.form__btn{
	width: 320px;
	height: 48px;
	border-radius: 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	background-color: #00a9e0;
	margin-top: 40px;
}

.form-floating>label{
	font-size: 16px;
	line-height: 0px;
	font-weight: 400;
	top: 8px;
	color: #888888;
}

.form-floating>.form-control, .form-floating>.form-select{
	width: 320px;
	height: 48px;
	border-radius: 0;
	border-color: #bbbbbb;
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown){
	outline: none;
}

.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #bbbbbb;
	outline: 0;
	box-shadow:none;
}


.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
	opacity: 1;
	transform: scale(.85) translateY(-.5rem) translateX(.15rem);
	position: absolute;
	top: -9px;
	background-color: #fff;
	height: 10px;
}

.data__input{
	width: 24px;
	height: 24px;
	position: absolute;
	right: 12px;
	top: 12px;
}

.btn:hover{
	color: #ffffff;
	background-color: #18bbf0;
}

.btn{
	font-size: 18px;
	font-weight: 400;
}

.banner__position{
	padding-left: 87px;
	padding-top: 67px;
	padding-bottom: 72px;
	background-color: #003594;
	background-image: url("../img/banner_desktop.png");
	background-position: top right;
	background-repeat: no-repeat;
	border-radius: 0px 56px 0px 0px;
	height: 368px;
}

.banner__subtittle{
	font-size: 22px;
	line-height: 22px;
	font-weight: 400;
	text-transform: uppercase;
	color: #f8485e;
	margin-bottom: 25px;
}

.banner__caption{
	font-size: 36px;
	line-height: 48px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 41px;
	width: 480px;
}

.banner__btn{
	width: 320px;
	height: 48px;
	border-radius: 24px;
	background-color: #00a9e0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
}

.callback__form-block-result{
	align-items: center;
	display: none;
}

.callback__form-block-result-img{
	margin-right: 40px;
	width: 88px;
	height: 88px;
}

.callback__form-block-result-text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 700;
	color: #00b388;
}

.form-result .callback__form-state{
	display: none;
}

.form-result .callback__form-block-result{
	display: flex;
}




/* Стили footer */

.footer-position{
    align-items: center;
}

.footer{
    margin-top: -55px;
		padding-top: 69px;
    padding-bottom: 78px;
    background-color: #f4f6f9;
}

.footer-position{
    display: flex;
}

.footer-text{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #97a6c3;
    margin-right: 0;
}

.footer-social-list{
    display: flex;
    align-items: center;
}

.footer-social-list-item:not(:last-child){
    margin-right: 16px;
}

.social-1{
    width: 32px;
    height: 32px;
    display: block;
    background: url('../img/soc_facebook.svg') no-repeat;
	background-size: cover;
}

.social-2{
    width: 32px;
    height: 32px;
    display: block;
    background: url('../img/soc_vk.svg') no-repeat;
	background-size: cover;
}

.social-3{
    width: 32px;
    height: 32px;
    display: block;
    background: url('../img/soc_ok.svg') no-repeat;
	background-size: cover;
}

.social-4{
    width: 32px;
    height: 32px;
    display: block;
    background: url('../img/soc_instagram.svg') no-repeat;
	background-size: cover;
}

.social-5{
    width: 32px;
    height: 32px;
    display: block;
    background: url('../img/soc_youtube.svg') no-repeat;
	background-size: cover;
}

.social-6{
	width: 32px;
	height: 32px;
	display: block;
	background: url('../img/soc_whatsapp.svg') no-repeat;
	background-size: cover;
}

.recomend-text{
    font-size: 20px;
    text-transform: uppercase;
    color: #dadada;
    margin: 0;
}

.footer-recomend{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.chesel-row{
    background: rgba(248, 248, 248, 0.96);
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-size: 1.54vw;
    z-index: 3;
    bottom: 0;
    color: #d2d2d2;
    width: 100%;
    line-height: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    transform: scaleY(1.5);
    transform-origin: bottom;
}

.footer{
    margin-top: 0px;
}

.text__caption{
    font-weight: 700;
}

.comportamento__list,.comportamento__list-2,.indagine__list{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
}

.footer__caption{
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
	color: #003594;
	margin-bottom: 4px;
}

.footer__adress{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
}

.footer__adress-last{
	margin-bottom: 23px;
}

.footer__link-tel{
	margin-right: 14px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.footer__link-tel:hover{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.footer__link-email,.footer__link-email:hover{
	margin-left: 14px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.licenzi-link{
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	color: #00a9e0;
	margin-bottom: 25px;
	margin-top: 25px;
	display: table;
	margin-left: auto;
}

.footer__social-position{
	text-align: right;
}

.footer-social-list {
	justify-content: end;
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
	padding-top: 1rem;
	padding-bottom: .625rem;
}



/* Адаптив */
@media (max-width: 1279px){
    .container{
        width: 968px;
    }

    img{
        max-width: 245px;
    }

    .header-section{
        padding-top: 40px;
    }

		.header-caption-position{
			text-align: center;
		}

    .header-caption{
			font-size: 56px;
			line-height: 64px;
			font-weight: 700;
			margin: 0 auto;
			margin-bottom: 54px;
    }

		.header-caption_decoration{
			font-size: 45px;
			color: #00b388;
		}

		.header-section-fon{
			width: 100%;
		}

    .menu-list-item{
        display: none;
    }

    .logo{
        margin-right: auto;
        /* margin-bottom: 128px; */
    }

    .menu-list-item:not(:last-child){
        margin-right: 33px;
    }

    .header-subtitle{
			font-size: 28px;
			line-height: 40px;
			font-weight: 400;
			margin: 0 auto;
			margin-bottom: 62px;
    }

	.header-section {
		padding-bottom: 133px;
	}


	/*main*/

	.covid__info_right-block-text{
		width: 500px;
	}

	.covid__info_left-block {
		width: 100%;
		margin-right: 87px;
	}

	.covid__info_card {
		width: 475px;
	}

	.covid__info_left-img {
		max-width: 100%;
		margin-top: 140px;
	}

	.advantages_card-position {
		justify-content: center;
	}

	.advantages_card {
		width: 565px;
		margin-right: 0;
		margin-bottom: 82px;
	}

	.advantages_card-last:last-of-type{
		margin-bottom: 0;
	}

	.experience__card-img {
		width: 320px;
		height: 305px;
		margin-right: 87px;
		max-width: 100%;
	}

	.experience__card-img_border-right {
		border-radius: 0px 40px 40px 0px;
	}

	.experience__card-img_border-left {
		border-radius: 40px 0px 0px 40px;
	}

	.experience__card-block {
		width: 525px;
	}

	.experience__block {
		margin-right: 25px;
	}

	.experience__card-caption{
		width: 530px;
	}

	.pay_card-position{
		display: block;
	}

	.pay__card:not(:last-child) {
		margin-right: auto;
		margin-bottom: 82px;
	}

	.pay__card {
		display: flex;
		align-items: center;
		text-align: left;
		width: 630px;
		margin: 0 auto;
	}

	.pay__card-img{
		margin-bottom: 0;
		margin-right: 42px;
	}

	.callback__form-state{
		flex-direction: column;
	}

	.callback__form_text-block {
		width: 100%;
		text-align: center;
		margin-bottom: 34px;
	}

	.callback__form-block{
		margin: 0 auto;
	}

	.form__caption{
		margin-bottom: 15px;
	}

	.form__text {
		width: 100%;
		display: inline;
	}

	.form__tel {
		display: inline;
	}

	.banner__position{
		padding-left: 32px;
		padding-top: 68px;
		padding-bottom: 72px;
		background-image: url("../img/banner_small_tablet_mobile.png");
	}

	.banner__caption {
		font-size: 34px;
		line-height: 40px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 47px;
		width: 459px;
	}

	.banner__subtittle{
		font-size: 20px;
		line-height: 20px;
		font-weight: 400;
		text-transform: uppercase;
		color: #f8485e;
	}

	.licenzi-link{
		margin-left: 0;
	}

}

@media (max-width: 1023px){
    .container{
        width: 100%;
			max-width: 100%;
    }

    .header-section{
        padding-bottom: 171px;
        background-size: auto;
			height: 768px;
    }

    .logo{
        margin-right: auto;
    }

    .fixed-active .second-logo{
        margin-right: auto;
    }

    .header-caption{
			font-size: 56px;
			line-height: 64px;
			font-weight: 700;
        margin-top: 0px;
			padding-top: 96px;
			margin-bottom: 62px;
    }

    .main-caption{
			margin: 0 auto;
			width: 100%;
			font-size: 40px;
			line-height: 56px;
			font-weight: 700;
			margin-bottom: 48px;
    }

		.covid__caption{
			width: 600px;
		}

	.covid_text{
		font-size: 18px;
		line-height: 32px;
		font-weight: 400;
	}

	.covid_card-img{
		width: 144px;
		height: 144px;
		margin-bottom: 35px;
	}

    .header-subtitle{
        width: 510px;
			font-size: 28px;
			line-height: 40px;
			font-weight: 400;
        margin-bottom: 74px;
    }

    .header-subtitle_decoration{
        font-size: 34px;
        line-height: 32px;
    }


	.section_covid{
		padding-top: 112px;
	}

	.covid_card-text{
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
	}

	.covid_card{
		width: 205px;
	}

	.covid_block-position{
		justify-content: center;
		margin-bottom: 83px;
	}

	.covid_card:not(:last-child) {
		margin-right: 45px;
	}

	.covid_info-position{
		flex-direction: column;
		width: 720px;
	}

	.covid__info_left-text{
		font-size: 18px;
		line-height: 32px;
		font-weight: 400;
	}

	.covid__info_left-text-decoration{
		font-size: 22px;
		font-weight: 600;
	}

	.covid__info_left-block{
		margin-right: 0;
	}

	.desctop-img{
		display: none;
	}

	.tablet-img{
		display: block;
	}

	.covid__info_left-block{
		margin-bottom: 34px;
	}

	.covid__info_left-img{
		width: 352px;
		height: 98px;
		margin-top: 73px;
		margin-bottom: 41px;
	}

	.covid__info_right-block-text{
		margin-top: 0;
		width: 100%;
		font-size: 18px;
		line-height: 32px;
		font-weight: 400;
	}

	.covid__info_card {
		width: 100%;
	}

	.covid_info-position{
		width: 100%;
	}

	.experience__card{
		flex-direction: column;
	}

	.experience__card-img_border-right{
		border-radius: 0px 80px 0px 0px;
	}

	.experience__card-img_border-left{
		border-radius: 80px 0px 0px 0px;
	}

	.experience__card-img{
		width: 680px;
		height: 648px;
		margin: 0 auto;
		margin-bottom: 51px;
	}

	.experience__card-caption {
		width: 100%;
	}

	.experience__card-text{
		width: 100%;
	}

	.tablet__direction{
		flex-direction: column-reverse;
	}

	.form__caption{
		font-size: 28px;
		line-height: 40px;
		font-weight: 700;
	}

	.callback__form-position {
		width: 100%;
		border: none;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0;
		margin-bottom: 120px;
	}

	.form-floating {
		margin-right: 40px;
		margin-bottom: 24px;
	}

	.callback__form-block{
		width: 100%;
	}

	.banner__position{
		padding-top: 46px;
		padding-left: 32px;
		padding-bottom: 48px;
		background-size: 328px 100%;
		height: 100%;
	}

	.banner__subtittle{
		font-size: 18px;
		line-height: 1px;
		font-weight: 400;
		text-transform: uppercase;
		color: #f8485e;
	}

	.banner__caption{
		font-size: 28px;
		line-height: 40px;
		font-weight: 700;
		width: 210px;
		margin-bottom: 39px;
	}

	.banner__btn{
		width: 216px;
		height: 48px;
	}


	.footer-position{
		flex-direction: column;
		align-items: flex-start;
	}

	.footer__social-position {
		text-align: left;
		margin-top: 47px;
	}

	.footer-social-list {
		justify-content: start;
	}

	.licenzi-link{
		margin-top: 50px;
		margin-bottom: 50px;
	}

    .recomend-text{
        font-size: 14px;
    }

	.fixed__btn {
		width: 216px;
		height: 48px;
	}

	.fixed-active .header__modal-btn {
		margin-right: 45px;
	}


    .container{
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
    }


}

@media (max-width: 767px){
    .container{
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }

    img{
        max-width: 144px;
    }

    .header-section{
        padding-bottom: 138px;
    }

	.advantages_card:nth-child(2n) {
		margin-right: auto;
	}

	.header-caption{
		margin-top: 0;
		font-size: 28px;
		line-height: 32px;
		font-weight: 700;
		width: 340px;
		margin-bottom: 43px;
	}

	.header-caption_decoration{
		font-size: 24px;
		color: #00b388;
	}

    .header-subtitle_decoration{
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }

    .header-subtitle{
			font-size: 16px;
			line-height: 24px;
			font-weight: 400;
			margin: 0 auto;
			margin-bottom: 43px;
			width: 274px;
			text-align: center;
    }

	.header_btn-form{
		width: 240px;
		height: 48px;
		padding-left: 45px;
		padding-right: 45px;
		line-height: 18px;
	}

	.covid__caption{
		width: 100%;
	}

	.main-caption{
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		margin-bottom: 53px;
		text-align: left;
	}

	.covid_text{
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		margin-bottom: 55px;
	}

	.covid_card-img{
		width: 120px;
		height: 120px;
		margin-bottom: 19px;
	}

	.covid_card:not(:last-child) {
		margin-right: auto;
		margin-bottom: 51px;
	}

	.covid_block-position{
		flex-direction: column;
	}

	.covid_card{
		margin: 0 auto;
		width: 280px;
	}

	.covid_block-position {
		justify-content: center;
		margin-bottom: 64px;
	}

	.covid__info_left-text-decoration{
		font-size: 20px;
		font-weight: 600;
	}

	.covid__info_right-text {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
	}

	.covid__info_right-card-img{
		margin-right: 40px;
	}

	.covid__info_left-img{
		margin-top: 54px;
		margin-bottom: 27px;
	}

	.covid__info_right-block-text{
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
	}

	.section_covid {
		padding-top: 62px;
		padding-bottom: 51px;
	}

	.section_advantages{
		padding-top: 62px;
		padding-bottom: 51px;
	}

	.advantages_card {
		display: flex;
		flex-direction: column;
		width: 340px;
		margin: 0 auto;
		text-align: center;
	}

	.advantages_card:not(:last-child){
		margin-bottom: 54px;
	}

	.advantages__card_img {
		width: 88px;
		height: 88px;
		margin-right: 0px;
		margin-bottom: 19px;
	}

	.advantages_card-position{
		flex-direction: column;
	}

	.section_experience {
		padding-top: 61px;
		padding-bottom: 51px;
	}

	.experience__card-img{
		width: 288px;
		height: 275px;
		margin-bottom: 35px;
	}

	.experience__card-block{
		width: 100%;
		flex-direction: column;
	}

	.experience__card:not(:last-child) {
		margin-bottom: 41px;
	}

	.experience__card-img_border-right {
		border-radius: 0px 48px 0px 0px;
	}

	.experience__card-img_border-left {
		border-radius: 48px 0px 0px 0px;
	}

	.experience__card-text{
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		margin-bottom: 33px;
	}

	.experience__card-caption{
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
		color: #000000;
		margin-bottom: 31px;
	}

	.experience__block-caption{
		font-size: 22px;
		font-weight: 700;
	}

	.experience__block-text{
		font-size: 14px;
		line-height: 16px;
	}

	.experience__block{
		margin-bottom: 30px;
	}

	.experience__arrow {
		font-size: 20px;
		font-weight: 400;
	}

	.experience__block-last:last-of-type{
		margin-bottom: 30px;
	}


	.section_pay{
		padding-top: 61px;
		padding-bottom: 51px;
	}

	.pay__card{
		width: 275px;
		flex-direction: column;
		text-align: center;
	}

	.pay__card-img{
		width: 88px;
		height: 88px;
		margin-bottom: 19px;
		margin-right: 0;
	}

	.pay__card:not(:last-child) {
		margin-bottom: 51px;
	}

	.pay__card-text{
		font-size: 16px;
		line-height: 24px;
	}

	.advantages__card_text{
		font-size: 16px;
		line-height: 24px;
		width: 272px;
	}

	.section_callback{
		padding-top: 55px;
		padding-bottom: 56px;
	}

	.form__caption{
		font-size: 22px;
		line-height: 32px;
		font-weight: 700;
		margin-bottom: 21px;
	}

	.form__text,.form__tel{
		font-size: 16px;
		line-height: 24px;
	}

	.callback__form_text-block {
		margin-bottom: 31px;
	}

	.form-floating>.form-control, .form-floating>.form-select {
		width: 100%;
		height: 48px;
		font-size: 14px;
		line-height: 16px;
		border-radius: 0;
		border-color: #bbbbbb;
	}

	.callback__form-block{
		flex-direction: column;
	}

	.form-floating {
		margin-right: 0px;
		margin-bottom: 24px;
	}

	.form-floating:nth-last-of-type(-n+2) {
		margin-bottom: 24px;
	}

	.form-floating:nth-last-of-type(-n+1) {
		margin-bottom: 0px;
	}

	.form-floating>label{
		font-size: 14px;
		line-height: 16px;
		top: 0px;
	}

	.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label{
		top: -14px;
	}

	.form__btn{
		margin: 0 auto;
		width: 100%;
		height: 48px;
		margin-top: 32px;
	}

	.btn {
		font-size: 18px;
	}

	.callback__form-position{
		margin-bottom: 88px;
	}

	.banner-img{
		width: 100%;
		max-width: 100%;
		border-radius: 0px 40px 0px 0px;
		margin-bottom: 34px;
	}

	.banner__position{
		background-image: none;
		padding: 0;
		padding-bottom: 40px;
	}

	.banner__subtittle{
		font-size: 14px;
		line-height: 14px;
		font-weight: 400;
		margin-bottom: 19px;
	}

	.banner__caption{
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 39px;
		width: 175px;
	}

	.banner__btn{
		width: 254px;
		height: 48px;
	}



	.mobile-banner-p{
		padding-left: 16px;
		padding-right: 16px;
	}








	.header-phone-position{
        font-size: 11px;
        line-height: 1.2;
        margin-right: 0px;
    }

    .main-caption{
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
        text-align: left;
        margin-top: 0;
        margin-bottom: 40px;
    }

	.mobile-caption{
		text-align: center;
	}


    .recomended__text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 37px;
    }

	.header-section{
		height: 560px;
	}

	.header-section-fon{
		height: 560px;
	}

	.header-section {
		padding-top: 16px;
	}


    .footer{
        padding-top: 61px;
        padding-bottom: 28px;
    }

    .footer-text{
        width: 290px;
        top: 79px;
        margin: 0 auto;
    }

    .footer-social-list-item:not(:last-child){
        margin-right: 16px;
    }

    .recomend-text{
        font-size: 1.54vw;
    }

    .fixed-active{
        padding-top: 16px;
        padding-bottom: 5px;
    }

	.footer__adress {
		width: 179px;
	}

	.footer__adress-last {
		width: 185px;
		margin-bottom: 33px;
	}

	.me-auto{
		margin-right: 0;
	}

	.footer-social-list {
		margin: 0 auto;
		justify-content: start;
		width: 144px;
		flex-wrap: wrap;
	}

	.footer__social-position{
		width: 100%;
		margin-top: 31px;
	}

	.footer-social-list-item:nth-child(-n+6){
		margin-top: 24px;
	}

	.licenzi-link {
		margin-top: 61px;
		margin-bottom: 33px;
	}

	.footer-text {
		width: 100%;
		top: 0;
	}

	.fixed-active{
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.fixed-active .header__modal-btn{
		display: none;
	}

	.logo{
		display: none;
	}

	.logo_mob{
		display: block;
		width: 79px;
		height: 24px;
	}

	.fixed__btn{
		width: 152px;
		height: 32px;
		border-radius: 16px;
		font-size: 12px;
		line-height: 12px;
		font-weight: 400;
	}

	.main-caption .nowrap{
		white-space: normal;
	}

	.advantages_card {
		width: 275px;

	}

	.desktop-banner{
		display: none;
	}

	.mobile-banner{
		display: block;
	}

	.advantages_caption{
		width: 90%;
	}

	.form__text {
		display: block;
		width: 170px;
		margin: 0 auto;
	}

	.header__modal-btn{
		font-size: 12px;
		line-height: 16px;
		position: relative;
		top: 4px;
	}

	.covid__info_left-img{
		width: 288px;
		height: 80px;
	}

	.mb{
		margin-right: 0!important;
	}


	.footer__adress-last{
		width: 265px;
	}

}

@media (max-width: 350px){
	.header-caption{
		width: 290px;
	}
}

